h1{
	font-size: 32px;
	letter-spacing: 2px; 
	font-weight: bold;
	color: #068488;
}

p.bio{
	font-size: 18px;
}

main{
	padding-top: 4rem;
}

h2{
	font-size: 26px;
}

.nowhiring, .contact{
	color: #007cbe;
	
	font-weight: bold;
}

a{	
	color: #1e824c;
	font-weight: bold;
}

a:hover{
	color: #0056B3;
}

a.nav-link{
	font-weight: normal;
}


.highlight{
	color: #007cbe;
	font-weight: bold;
}


.nav-item > a:hover {
  color: #EFB91A !important;
}

.bg-dark{
	background-color: #000000 !important;
}